.nav {
    height: 55px;
}

.full-body-container {
    height: calc(100vh - 55px);
}

.body-container {
    height: calc(100vh - 110px);
}

.sub-body-container {
    height: calc(100vh - 165px);
}

.sub2-body-container {
    height: calc(100vh - 220px);
}

.pageGap {
    padding: 2rem;
}



::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #e7e7e7;
}

::-webkit-scrollbar-thumb {
    background: #d7d6d6;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #dddcdc;
}